<form method="post" action="{{ path('app_tache_delete', {'id': tache.id_tache}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tache.id_tache) }}">
    <button class="btn">Delete</button>
</form>
